:root {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 50%);
  --bg1: hsl(0, 0%, 75%);
  --bg2: hsl(0, 0%, 80%);
  --bg3: hsl(0, 0%, 85%);
  --bg4: hsl(0, 0%, 90%);
  --bg5: hsl(0, 0%, 95%);
  --txt1: hsl(0, 0%, 10%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 30%);
}
body.dark {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 30%);
  --bg1: hsl(0, 0%, 5%);
  --bg2: hsl(0, 0%, 10%);
  --bg3: hsl(0, 0%, 15%);
  --bg4: hsl(0, 0%, 20%);
  --bg5: hsl(0, 0%, 25%);
  --txt1: hsl(0, 0%, 90%);
  --txt2: hsl(0, 0%, 80%);
  --txt3: hsl(0, 0%, 70%);
}
