:root {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 50%);
  --bg1: hsl(0, 0%, 80%);
  --bg2: hsl(0, 0%, 85%);
  --bg3: hsl(0, 0%, 90%);
  --bg4: hsl(0, 0%, 95%);
  --txt1: hsl(0, 0%, 10%);
  --txt2: hsl(0, 0%, 20%);
  --txt3: hsl(0, 0%, 30%);
  --txt-alt: hsl(0, 0%, 90%);
}
body.dark {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 50%);
  --bg1: hsl(0, 0%, 5%);
  --bg2: hsl(0, 0%, 10%);
  --bg3: hsl(0, 0%, 15%);
  --bg4: hsl(0, 0%, 20%);
  --txt1: hsl(0, 0%, 90%);
  --txt2: hsl(0, 0%, 80%);
  --txt3: hsl(0, 0%, 70%);
  --txt-alt: hsl(0, 0%, 10%);
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg1);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1000ms ease;
}
