:root {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 50%);
  --bg1: hsl(0, 0%, 85%);
  --bg2: hsl(0, 0%, 90%);
  --bg3: hsl(0, 0%, 95%);
  --txt1: hsl(0, 0%, 20%);
  --txt2: hsl(0, 0%, 40%);
  --txt-alt: hsl(0, 0%, 90%);
}
body.dark {
  --acc: hsl(170, 85%, 40%);
  --acc-alt: hsl(170, 85%, 50%);
  --bg1: hsl(0, 0%, 5%);
  --bg2: hsl(0, 0%, 10%);
  --bg3: hsl(0, 0%, 15%);
  --txt1: hsl(0, 0%, 80%);
  --txt3: hsl(0, 0%, 60%);
  --txt-alt: hsl(0, 0%, 10%);
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg1);
  scroll-behavior: smooth;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1000ms ease;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg2);
  position: fixed;
  height: 60px;
  top: 20px;
  left: 20px;
  right: 20px;
  border-radius: 15px;
}
.profile p {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--acc);
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-right: 10px;
}
nav ul li button {
  background: var(--acc);
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
nav ul li button a {
  color: var(--txt-alt);
  text-decoration: none;
}
main {
  margin-top: 100px;
}
section.hero {
  display: flex;
  align-items: center;
  background: var(--bg2);
  width: 800px;
  height: 250px;
  margin: auto;
  border-radius: 25px;
}
section.hero figure{
  padding: 0;
}
section.hero figure img {
  background: var(--bg3);
  width: 180px;
  height: 180px;
  border-radius: 18px;
}